*{
     padding: 0px;margin: 0;box-sizing: border-box;
}
.container{
     width:100%;
     height:100%;
/* background-color: red; */
}
.con{
     background:cadetblue;
     display:flex;
     border-bottom:2px solid silver;
     justify-content:space-between;
     align-items:center;
     padding:15px 50px;
}
.po{
 /* border:2px solid black; */
     color:white;
}

.p2{
 /* border:2px solid black; */
     display:flex;
     gap:50px;
}

.p2 a{
     color:white;
     text-decoration:none;
     font-weight:bold;
}
.p2 a:hover{
     color: cyan;
     transition: all ease 0.2s;
}

.menu{
     font-size:30px;
     color:white;
     /* border:2px solid red; */
     cursor:pointer;
     /* display:none; */
}

.side-menu{
     position:fixed;
     top:0;
     right:-100%;
     width:250px;
     height:100vh;
     background:cadetblue;
     padding:30px;
     display:flex;
     flex-direction:column;
     gap:20px;
     transition:0.9s;
     z-index:999;
}

.side-menu a{
     color:white;
     text-decoration:none;
     font-size:20px;
     font-weight:bold;
}

.close{
     font-size:30px;
     color:white;
     cursor:pointer;
     align-self:flex-end;
}

.header{
     display:flex;
     background:cadetblue;
}

.left,.right{
     width:50%;
     height:90vh;
     /* border: 2px solid red; */
     /* position:relative; */
}

.l1{
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
}

.hello{color:white;font-size:22px;}
.john{background:aqua;padding:10px;margin:10px 0;display: inline-block;font-size: 2.5vw;}
.And span{color:cyan;}
.Lorem{color:white;margin:15px 0;}

.icon{
     display:flex;
     gap:15px;
     margin-bottom:20px;
}

.icon i{
     border:2px solid cyan;
     border-radius:50%;
     padding:5px;
     color:cyan;
}

.btn{
     padding:10px 25px;
     background:cyan;
     border:none;
     opacity: 0.8;
     box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
     border-radius:20px;
     font-weight:bold;
}

.img{
     width:300px;
     height:300px;
     margin:80px auto;
     border-radius:50%;
     overflow:hidden;
     border:3px solid cyan;
}

.img img{
     width:100%;
     height:100%;
     object-fit:cover;
}


.menu{
}
.myskill{
     /* border:2px solid red; */
     padding: 40px;
     background-color: cadetblue;
     /* border: 2px solid red; */
     width:90vw;
     /* height:0vh; */
     margin: 10px auto;
display: flex;
flex-wrap: wrap;
gap:50px;
/* background-color: cadetblue; */
/* justify-content:space-between; */
}
.hd1{
     margin-top:90px;
text-align: center;
color:cadetblue;
text-shadow:3px 3px 5px rgba(0,0,0,0.4);
}
.skill{
     box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
     width:10vw;
     height:20vh;
     /* border:1px solid red; */
}
.skill .im2{
     width:100%;
     /* height:100%; */
     object-fit: cover;
     /* border-radius:50%; */
}
.g{
     text-align: center;
     font-size: 20px;
     background-color: #F7F7F2;
     text-shadow:2px 2px 10px rgba(0,0,0,0.5);
}
body{
     /* background-color: rgba(72, 178, 185, 0.696)  ; */
}
.project{
     /* background-color: silver; */
     margin: 20px auto;
     /* border:2px solid black; */
     width:100vw;
     height:auto;
display: flex;
flex-wrap: wrap;
/* background-color: red; */
justify-content: space-evenly;
row-gap:20px;
}
.project .pr1{
     border-radius: 20px;
     display: flex;
     justify-content: center;
     /* border:2px solid black; */
     background-color: #2cc0c5;
/* align-items: center; */
     width:30vw;
     height:60vh;
}
.MP{
     text-align:center;
     margin:4vw;
     /* background-color: red; */
     color:cadetblue;
     font-size: 35px;
     text-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}    
button {
               background-color: red;
               border: none;
               color: white;
               padding: 4px 10px;
               border-radius: 10px;
               cursor: pointer;
          }
          #inpu {
               padding: 6px;
               margin-bottom: 10px;
               border-radius: 5px;
               border: 1px solid #ccc;
          }
          #io {
               object-fit: cover;
               width:15vw;
               height:30vh;
               background-color: red;
           box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
               border-radius: 10px;
               /* background-position: center; */
               /* margin-top: 20px; */
          }
          nav{
               display: flex;
               width:100%;
               gap:20px;
              border-radius: 20px;
box-shadow: 0px 0px 10px rgba(174, 161, 161, 0.6);

               flex-direction: column;
               justify-content:center;
               align-items: center;
          }
          #QQ{
               margin:2vw;
               margin-bottom: 10px;
          }
          .box{
box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
               background-color: pink;
               border-radius: 20px;
               font-size: 30px;
               display: flex;
               justify-content: center;
               align-items: center;

               width:20vw;
               height:20vh;
          }
          #bbtt{    
width:8vw;
padding: 10px;
color:blueviolet;
border-radius:10px;
/* height:vh; */
text-align: center;
background-color: rgb(76, 202, 202);
box-shadow: -2px 2px 10px rgba(0,0,0,0.6);
               font-size: 20px;
               }
               .kk{
                    display:grid;
                    place-content: center;
                    position: relative;
                    width:100%;
                    height:100%;
                    border-radius: 10px;
               }
               .yy{
                    border:2px solid white;
                    background-color: black;
                    z-index: 9;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px 20px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
               }
               .form{
                    display: flex;
                    justify-content: center;
                    background-color:#F7F7F2;
                    width:50vw;
                    height:auto;
                    margin:10vw auto;
padding: 10px 20px;
               }
               label{
                    font-size: 1.2em;
                    font-weight: bold;
               }
               #name,#email,#message,#sbt{
width:20vw;
padding: 8px;
margin: 6px 0 6px 0;
/* top | right | bottom | left */
               }
          .main{
               width:40vw;
               height:30vh;
               background-color: rgb(196, 180, 161);
               margin:6vw auto;
               padding: 20px;
          }
          .song{
               font-size: 20px;
               margin-bottom: 1vw;
          }           
               .outer{
               margin-bottom: 1vw;
               width:100%;

                  background-color:cadetblue;
                  /* border:2px solid black; */
                  padding: 1vw;
                  border-radius: 20px;  
                  transition: all 0.1s;
               }
               .inner{
                    font-size: 25px;
                    margin-left: 0px;
                    /* width:2vw; */

               }
               .click{
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
                    /* border:1px solid red; */
                    margin-right: 20px;
                    border-radius: 20px;
                    width:35vw;
                    padding: 1vw;
                    /* height:5vh; */
                    text-align: center;

               }
               .click:active{
                    scale: 0.97;
               }
               .click:hover{
                    background-color:white;
                    cursor: pointer;
               }
               .d0{
                    display: flex;
                    justify-content: space-between;
               }
@media(max-width:768px)
 { 
     .container{
          width:100%;
     }
     .close{
          
          width:100%;
     }
     .side-menu{
          width:100%;
     }
     .john{
          font-size:10vw;
     }
     .p2{display:none;}
     }

     .header{
     }

     .left{
     }
.header{
     flex-direction: column;
}
.hd1{
     margin-bottom:10vw ;
     /* font-size: 40px; */
}
.right{
width:100%;
height:70vh;
}
.myskill{
     width:100%;
     height:auto;
     text-align: center;
     background-color: white;
flex-wrap: wrap;

     /* flex-direction: column; */
}
.skill{
     /* background-color:cadetblue; */
     /* border-radius: 10px 0px 10px 20px; */
     padding:3vw 5vw;
     width:50%;
     margin: 0vw 20vw;
     height:0%;
     border-radius:10px;
}
.skill img{
     text-align: center;
     width:50%;
}
.g{
     text-align: center; 
     box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.project{
     flex-wrap:wrap;
    /* background-color: aqua; */
}
#inpu{
     margin-left:30px;
     margin-bottom: 30px;
}
.project .pr1{
     justify-content: center;
margin-top:40px;
background-color: aliceblue;
width:90vw;
height:50vh;
}
#io{
height:200px;
margin-left: 3em;
width:200px;     
}
.box{
     width:60vw;
}
#bbtt{
     width:30vw;
}
.kk{width:100%;
height:100%;}
.yy{box-shadow: 0px 0px 20px rgba(0,0,0,0.2);}
.form{
     width:90vw;
}
#name,#email,#message{
     width:100%;
     padding: 6px;
     font-size: 16px;
}
#sbt{
     margin-left:35%;
     /* width:20vw; */
     box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
     background-color: blue;
}
#sbt:active{
     scale: 0.97;
}
.main{
     width:100%;
     /* display: flex; */
     flex-wrap: wrap;
     /* align-items: center; */
     justify-content: center;
     height:24vh;
     margin-top: 25vw;

}
.song{
margin-bottom: 9%;
     /* background-color: red; */
}
.outer{
margin-bottom: 9%;
width:100%;
}
.do{

}
.inner{}
.click{
}