*{
     padding: 0px;margin: 0;box-sizing: border-box;
}
.container{
}
.con{
     background-color:cadetblue;
     display: flex;
     width:100%;
     height:100%;
     justify-content:space-between;
     /* border:2px solid red; */
     align-items: center;
     padding: 15px 40px;
}
.p1{
     width:40%;
font-size: 20px;
color: skyblue;
     margin-left: 4vw;
/* border: 1px solid red; */
}
.p2{
     font-size: 1.5vw;
     display: flex;
     justify-content:space-evenly;
     width:50%;
/* border: 1px solid red; */
}
.p2 a{
font-size:20px;
text-decoration: none;
}
.right{
width:50vw;
height:89vh;
background-color:cadetblue;
}
.header{
     display: flex;
}
.left{
width:50vw;
height:89vh;
background-color:cadetblue;
position: relative;
}
.l1{
position: absolute;
top:50%;
left:55%;
line-height: 20px;
transform: translate(-50%,-50%);
}
.And{
     width:40vw;
     /* border: 1px solid blue; */
     font-size: 23px;
     margin-bottom: 20px;
}
.john{
     margin-bottom: 5px;
     width:20vw;
     font-size:40px;
     padding: 12px 2px;
     background-color: aqua;
}
.hello{
     color:white;
     font-size: 25px;
     margin-bottom: 5px;
     font-weight: bold;
}
.Lorem{
     /* border:1px solid black; */
     width:41vw;
     margin-bottom: 20px;
     color: white;
     /* padding: 20px; */
/* background-color: black; */
}
.icon{
display: flex;
gap:2vw;
     margin-bottom: 30px;
}
.icon i{
border: 2px solid cyan;
background-color: black;
border-radius:50%;
color:cyan;
padding: 5px;
}
.btn{
     padding: 10px 30px 5px;
     background-color: cyan;
     font-size: 20px;
     font-weight: bold;
     border: none;
     border-radius: 30px;
     box-shadow: 5 5 10px rgba(0,0,0,0.4);
}
.img{
     margin:60px 50px;
     width:30vw;
     height:60vh;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
     border-radius: 50%;
     border:2px solid cyan;
}
img{
     border-radius: 50%;
     width:100%; height:100%; 
    object-fit: cover;    
}
.menu{
     font-size: 30px;
}
.myskill{
     /* border:2px solid red; */
     padding: 40px;
     background-color: cadetblue;
     /* border: 2px solid red; */
     width:90vw;
     /* height:0vh; */
     margin: 10px auto;
display: flex;
flex-wrap: wrap;
gap:50px;
/* background-color: cadetblue; */

/* justify-content:space-between; */
}
.hd1{
     margin-top:90px;
text-align: center;
color:cadetblue;
text-shadow:3px 3px 5px rgba(0,0,0,0.4);
}
.skill{
box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
     width:10vw;
     height:20vh;
     /* border:1px solid red; */
}
.skill .im2{
     width:100%;
     /* height:100%; */
     object-fit: cover;
     /* border-radius:50%; */
}
.g{
     text-align: center;
     font-size: 20px;
     background-color: cadetblue;
     text-shadow:2px 2px 10px rgba(0,0,0,0.5);
}
.project{
     margin: 20px auto;
     /* border:2px solid black; */
     width:95vw;
     height:50vh;
display: flex;
flex-wrap: wrap;
/* background-color: red; */
justify-content: space-evenly;
row-gap:50px;
}
.project .pr1{
     border-radius: 20px;
     display: flex;
     justify-content: center;
     border:2px solid black;
     width:40vw;
     height:60vh;
}
.MP{
     text-align:center;
     margin:10vw;
     color:cadetblue;
     font-size: 35px;
     text-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}    
button {
               background-color: red;
               border: none;
               color: white;
               padding: 4px 10px;
               border-radius: 10px;
               cursor: pointer;
          }
          #inpu {
               padding: 6px;
               margin-bottom: 20px;
               border-radius: 5px;
               border: 1px solid #ccc;
          }
          #io {
               width:20vw;
               height:40vh;
               background-color: red;
           box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
               border-radius: 10px;
               background-position: center;
               /* margin-top: 20px; */
          }
          nav{
               display: flex;
               width:100%;
               gap:20px;
              border-radius: 20px;
box-shadow: 0px 0px 10px rgba(174, 161, 161, 0.6);

               flex-direction: column;
               justify-content:center;
               align-items: center;
          }
          #QQ{
               margin:5vw;
               margin-bottom: 30px;
          }
          .box{
box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
               background-color: pink;
               border-radius: 20px;
               font-size: 30px;
               display: flex;
               justify-content: center;
               align-items: center;

               width:20vw;
               height:20vh;
          }
          #bbtt{    
width:8vw;
padding: 10px;
color:blueviolet;
border-radius:10px;
/* height:vh; */
text-align: center;
background-color: aqua;
box-shadow: -2px 2px 10px rgba(0,0,0,0.6);
               font-size: 20px;
               }
@media (max-width:600px)
 {
.p2{
   display: none;
}
.left {
     width:100%;
height:80vh;
     /* border:2px solid red; */
}
.left .l1{
     line-height: 20px;
     /* width:60vw; */
     /* height:auto; */
}
.left .l1 .hello{
     font-size: 20px;
}
.left .l1 .john{
     /* line-height: 25px; */
     width:64vw;
     font-size:35px;
     box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
margin-bottom: 10px;
}
.left .l1 .And{
     width:84vw;
     /* border: 1px solid red; */
     line-height:8vmin;
     font-size: 25px;
}
.left .l1 .Lorem{
     width:83vmin;
     /* border: 1px solid red; */
     font-size: 12px;
}
.left .icon a{
     text-decoration: none;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
     font-size:20px;
}
.right .img{
width:80%;
height:60%;
margin:50px auto;
text-align:cennter;
}
.header{
     flex-direction: column;
}
.hd1{
     font-size: 40px;
}
.right{
width:100%;
height:70vh;
/* border:2px solid red; */
}
.myskill{
     width:50vw;
     background-color: white;
     row-gap:20px;
/* border:2px solid red; */
flex-wrap: wrap;
     /* flex-direction: column; */
}
.skill{
     /* border-radius: 10px 0px 10px 20px; */
/* padding: 10px; */
     /* flex-wrap: wrap; */
     width:100%;
     height:100%;
}
.g{
     background-color:cadetblue;
     font-size: 20px;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
     padding: 12px 20px;
     color: black;
}
.project{
     flex-wrap:wrap;
     /* background-color: aqua; */
}
#inpu{
     margin-left:30px;
     margin-bottom: 40px;
}
.project .pr1{
     justify-content: center;
margin-top:40px;
background-color: aliceblue;
width:100%;
}
#io{
 width:30vw;
 /* object-fit: contain; */
 height:30vh;
margin-left: 30px;
/* margin-bottom: 20px; */
 width:65vw;     
}
.box{
     width:60vw;
}
#bbtt{
     width:30vw;
}
}