
.main{
     background-color:rgb(33, 134, 150);
     width:99vw;
     height:100vh;
     display: flex;
   gap:20px;
     align-items: center;
     justify-content:center;
     flex-direction: column;
}
#box{
     font-size: 30px;
     text-align: center;
     box-shadow: 0px 0px 10px rgba(0, 0,0,0.3);
     width:100px;
     height:100px;
     /* background-color: red; */
}
button{
     /* border:2px solid red; */
     padding: 10px 20px;
}
button:active{
     scale: 0.95;
}